<div class="ui one cards" >
  <% articles.each do |article| %>
    <div class="ui card" style="margin: 0.875em auto; width:60%;">
      <div class="content">
        <div class="header"> <%= article.title %></div>
        <div class="meta"><%= article.user.name %></div>
        <div class="description"><%= article.content %></div>
      </div>
    </div>
  <% end %>
</div>